.Title {
	display: flex;
	align-items: flex-start;
	box-sizing: border-box;
	width: 100%;
	padding: 1em;
	margin-bottom: 2em;
	background-color: lavender;
	font-family: Helvetica;
	font-size: 8px;
	color: navy;
}

.Title > div {
	text-align: left;
}

.Title h1 {
	margin: 0;
}

.Title-Subtitle {
	color: black;
	font-family: Helvetica;
}
  